@{
    ViewData["Title"] = "Home Page";
}
<div ng-controller="newWorkoutController">
    <div class="new-workout-header">
        <h3>Current Workout</h3>
        <a ng-click="save">Save</a> /
        <a ng-click="edit">Edit</a> /
        <a ng-click="delete">Delete</a>
    </div>
    <div class="exercise-container container">
        <div class="exercise-row row">
            <div class="exercise-cell col-sm-2">
                <label>Exercise<input placeholder="Deadlift" /></label>
            </div>
            <div class="exercise-cell col-sm-2">
                <label>Weight:<input placeholder="Weight: 135" /></label>
            </div>
            <div class="exercise-cell col-sm-2">
                <label>Sets:<input ng-model="sets"/></label>
            </div>
            <div ng-repeat="i in getNumberOf(sets) track by $index" class="exercise-cell col-sm-1">
                <label>Repetitions:<input placeholder="Set {{$index+1}}" /></label>
            </div>
        </div>
        <div class="exercise-row row">
            <div class="exercise-cell col-sm-2">
                <input placeholder="Exercise: Deadlift" />
            </div>
            <div class="exercise-cell col-sm-2">
                Weight: <input placeholder="135" />
            </div>
            <div class="exercise-cell col-sm-2">
                Sets: <input placeholder="" />
            </div>
        </div>


        <div class="exercise-row row">
            <div class="exercise-cell col-sm-2">
                Exercise: <input placeholder="" />
            </div>
        </div>
    </div>
</div>